<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <%- include('./components/header.ejs') %>
  <h1>day la ejs</h1>

  <div>
    <input type="text" name="" id="username" placeholder="username">
    <input type="text" name="" id="password" placeholder="password">
    <button onclick="addUser()">add</button>
  </div>

  <table>
    <thead>
      <tr>
        <th>STT</th>
        <th>Username</th>
        <th>Password</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody class="listData">
      <%- include('./components/listUser.ejs') %>
    </tbody>
  </table>
  <%- include('./components/footer.ejs') %>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="/public/js/testEJS.js"></script>
</html>